/*
Verde aceituna: #317B22
Verde aquamarine medium: #67E0A3
Negro: #000000
Aquamarine: #7cf0bd
Magic Mint: #aff9c9
*/

/* Especificidad
1. !important
2. Atributo style en el html


Selectores
1. Selectores por ID
2. Selectores de clase, atributos y pseudoclases
3. Selectores de tipo y pseudo elementos
*/

html {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none;
	color: #d500f9;
}

img {
	max-width: 100%;
}

a:hover {
	opacity: 0.8;
}

.title {
	text-transform: uppercase;
	text-align: center;
}

.container {
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	max-width: 960px;
	width: 100%;
	height: 80vh;
	background-color: white;
	/*box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color:*/
	/*box-shadow: 10px 3px 6px 10px #000; Ejemplo*/
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-radius: 4px;
	position: relative;
	overflow: scroll;
}

.content {
	padding: 1em;
}
td {
	display: block;
	width: 100%;
}
td:nth-of-type(1){
	font-size: 1.5em;
	font-weight: bold;
	color: #642B73;
}
th{
	display: none;
}

.actions {
	position: absolute;
	top: 1em;
	right: 1em;
}

.close {
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #642B73;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paragraph {
	line-height: 1.8em;
	font-weight: 300;
}

.fa-star {
	color: #ffc400;
}

.table {
	width: 100%;
	border-spacing: 0;
}

.table td, .table th {
	padding: 1em;
	text-align: left;
}

.table tr:nth-child(even){
	background-color: #f3e5f5;
}

.title-item {
	/*border-bottom-style: solid;
	border-width: 2px;
	border-color: #C6426E;*/

	border-bottom: solid 2px #C6426E; /* Shorthand property, en vez de definir los 3 valores arriba, se pede definir en una linea. No importa el orden en que se coloque*/
	padding-bottom: 1em;
	font-size: 2em;

	/* Shorthand para padding
	padding: arriba derecha abajo izquiera;
	padding: arriba/abajo derecha/izquierda;
	*/
}

.address {
	font-weight: bold;
	color: #642B73;
	font-size: 1.2em;
	margin-top: 1em;
	display: inline-block;
}

.main-image {
	float: left;
	margin-right: 1em;
	height: 250px;
}

.position {
	background-color: #C6426E;
	color: white;
	padding: 0.5em;
	/*
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	*/
	/* Usaremos Shorthand Properties para definir estos border redondeados */
	border-radius: 4px;
	margin-right: 0.5em;
}

/* Mobile First. Se programa primero para movil y luego se usan los media para hacer que se vea bien en pcs */
@media (min-width: 900px) {
	th {
		display: table-cell;
	}
	td {
		display: table-cell;
		width: auto;
	}
	td:nth-of-type(1) {
		font-size: 1em;
	}
	.content {
		padding: 1.8em;
	}
}

@media (min-height: 550px) {
	.content {
		height: 500px;
	}
}
